/*body*/
body{background: #b5b5b5;}

/*header*/

.header{background: #333333;border-top: 3px solid #222; padding: 22px 0}
.navbar-brand{padding: 2px 40px 10px;}
.navbar-inverse{background:#E0EEEE;border-color: #5175c6; border-bottom-width: 3px; opacity: 089;}
.divider-vertical {
    height: 45px;
    width: 150px;
    margin:  2px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

/*cadastro */ 
.container{text-align: center;}
.desk{text-align: left; }
.large{width:300px;height:150px; }
.btn-success{text-align: left;}
/*footer */
.footer{padding-bottom: 350px;}